@{
    ViewData["Title"] = "基础信息管理";
}

<h1>@ViewData["Title"]</h1>

<div class="card-columns">
    <div class="card">
        <div class="card-header">
            <div class="custom-control custom-checkbox mr-md-2">
                基础字典
            </div>
        </div>
        <div class="card-body">
            <div class="list-group text-center">
                <a asp-controller="ComGender" asp-action="Index" class="list-group-item list-group-item-action">性别字典</a>
                <a asp-controller="ComPost" asp-action="Index" class="list-group-item list-group-item-action">岗位字典</a>
                <a asp-controller="ComNation" asp-action="Index" class="list-group-item list-group-item-action">民族字典</a>
                <a asp-controller="ComPolitical" asp-action="Index" class="list-group-item list-group-item-action">政治面貌字典</a>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="custom-control custom-checkbox mr-md-2">
                基础字典
            </div>
        </div>
        <div class="card-body">
            <div class="list-group text-center">
                <a asp-controller="ComProfessionRegister" asp-action="Index" class="list-group-item list-group-item-action">执业资格字典</a>
                <a asp-controller="ComProfessionExtent" asp-action="Index" class="list-group-item list-group-item-action">执业范围字典</a>
                <a asp-controller="ComProfessionTitleType" asp-action="Index" class="list-group-item list-group-item-action">职称系列字典</a>
                <a asp-controller="ComProfessionTitleLevel" asp-action="Index" class="list-group-item list-group-item-action">职称级别字典</a>
                <a asp-controller="ComProfessionTitle" asp-action="Index" class="list-group-item list-group-item-action">职称字典</a>
                <a asp-controller="ComProfessionType" asp-action="Index" class="list-group-item list-group-item-action">执业类别字典</a>
            </div>
        </div>
    </div>
</div>