@model HospitalPersonnelSystem.Models.ComProfessionTitle

@{
    ViewData["Title"] = "职称 - 创建";
    ViewData["Controller"] = "ComProfessionTitle";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Index" data-toggle="tooltip" data-placement="left" title="返回"><i class="fa fa-arrow-alt-circle-left fa-lg"></i></a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" data-spell="name" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spell" class="control-label"></label>
                <input asp-for="Spell" class="form-control" data-spell="spell" readonly />
                <span asp-validation-for="Spell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeCode" class="control-label"></label>
                <select asp-for="TypeCode" class="form-control" asp-items="ViewBag.TypeCode"></select>
            </div>
            <div class="form-group">
                <label asp-for="LevelCode" class="control-label"></label>
                <select asp-for="LevelCode" class="form-control" asp-items="ViewBag.LevelCode"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="保&nbsp;&nbsp;存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
