@model HospitalPersonnelSystem.Models.SysEmp

@{
    ViewData["Title"] = "人员管理 - 编辑";
    ViewData["Controller"] = "SysEmp";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Index" data-toggle="tooltip" data-placement="left" title="返回"><i class="fa fa-arrow-alt-circle-left fa-lg"></i></a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="EmpCode" />
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label asp-for="Telephone" class="input-group-text"></label>
                    </div>
                    <input asp-for="Telephone" class="form-control" />
                </div>
                <span asp-validation-for="Telephone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label asp-for="EmpName" class="input-group-text font-weight-bold"></label>
                    </div>
                    <input asp-for="EmpName" class="form-control" data-spell="name" />
                    <div class="input-group-prepend">
                        <label asp-for="Spell" class="input-group-text"></label>
                    </div>
                    <input asp-for="Spell" class="form-control" data-spell="spell" readonly />
                </div>
                <span asp-validation-for="EmpName" class="text-danger"></span>
                <span asp-validation-for="Spell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label asp-for="DeptCode" class="input-group-text font-weight-bold"></label>
                    </div>
                    <select asp-for="DeptCode" class="form-control" asp-items="ViewBag.DeptCode"></select>
                    <div class="input-group-prepend">
                        <label asp-for="GenderCode" class="input-group-text font-weight-bold"></label>
                    </div>
                    <select asp-for="GenderCode" class="form-control" asp-items="ViewBag.GenderCode"></select>
                </div>
                <span asp-validation-for="DeptCode" class="text-danger"></span>
                <span asp-validation-for="GenderCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label asp-for="PostCode" class="input-group-text font-weight-bold"></label>
                    </div>
                    <select asp-for="PostCode" class="form-control" asp-items="ViewBag.PostCode"></select>
                    <div class="input-group-prepend">
                        <label asp-for="NationCode" class="input-group-text font-weight-bold"></label>
                    </div>
                    <select asp-for="NationCode" class="form-control" asp-items="ViewBag.NationCode"></select>
                </div>
                <span asp-validation-for="PostCode" class="text-danger"></span>
                <span asp-validation-for="NationCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label asp-for="PoliticalCode" class="input-group-text"></label>
                    </div>
                    <select asp-for="PoliticalCode" class="form-control" asp-items="ViewBag.PoliticalCode"></select>
                    <div class="input-group-prepend">
                        <label asp-for="PoliticalDate" class="input-group-text"></label>
                    </div>
                    <input asp-for="PoliticalDate" class="form-control" />
                </div>
                <span asp-validation-for="PoliticalCode" class="text-danger"></span>
                <span asp-validation-for="PoliticalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label asp-for="HospitalDate" class="input-group-text font-weight-bold"></label>
                    </div>
                    <input asp-for="HospitalDate" class="form-control" />
                    <div class="input-group-prepend">
                        <label asp-for="WorkDate" class="input-group-text"></label>
                    </div>
                    <input asp-for="WorkDate" class="form-control" />
                </div>
                <span asp-validation-for="HospitalDate" class="text-danger"></span>
                <span asp-validation-for="WorkDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label asp-for="ArchivesNo" class="input-group-text"></label>
                    </div>
                    <input asp-for="ArchivesNo" class="form-control" />
                    <div class="input-group-prepend">
                        <label asp-for="SocialInsuranceNo" class="input-group-text"></label>
                    </div>
                    <input asp-for="SocialInsuranceNo" class="form-control" />
                </div>
                <span asp-validation-for="ArchivesNo" class="text-danger"></span>
                <span asp-validation-for="SocialInsuranceNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label asp-for="IdentityCard" class="input-group-text font-weight-bold"></label>
                    </div>
                    <input asp-for="IdentityCard" class="form-control" />
                    <div class="input-group-prepend">
                        <label asp-for="PublicMoneyNo" class="input-group-text"></label>
                    </div>
                    <input asp-for="PublicMoneyNo" class="form-control" />
                </div>
                <span asp-validation-for="IdentityCard" class="text-danger"></span>
                <span asp-validation-for="PublicMoneyNo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label asp-for="HomeAdd" class="input-group-text"></label>
                    </div>
                    <input asp-for="HomeAdd" class="form-control" />
                </div>
                <span asp-validation-for="HomeAdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label asp-for="IdentityAdd" class="input-group-text"></label>
                    </div>
                    <input asp-for="IdentityAdd" class="form-control" />
                </div>
                <span asp-validation-for="IdentityAdd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="保&nbsp;&nbsp;存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
