@model HospitalPersonnelSystem.Models.SysItemInfo

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>SysItemInfo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ItemKey" />
            <div class="form-group">
                <label asp-for="ItemValue" class="control-label"></label>
                <input asp-for="ItemValue" class="form-control" />
                <span asp-validation-for="ItemValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Spell" class="control-label"></label>
                <input asp-for="Spell" class="form-control" readonly="readonly" />
                <span asp-validation-for="Spell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ItemCode" class="control-label"></label>
                <select asp-for="ItemCode" class="form-control" asp-items="ViewBag.ItemCode"></select>
                <span asp-validation-for="ItemCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
