@model HospitalPersonnelSystem.Models.SysProfessionInfo

@{
    ViewData["Title"] = "职称评定 - 编辑";
    ViewData["Controller"] = "SysProfessionInfo";
}

<h1>@ViewData["Title"]</h1>

<div>
    <a asp-action="Index" data-toggle="tooltip" data-placement="left" title="返回"><i class="fa fa-arrow-alt-circle-left fa-lg"></i></a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Code" />
            <div class="form-group">
                <label asp-for="EmpCode" class="control-label"></label>
                <select asp-for="EmpCode" class="form-control" asp-items="ViewBag.EmpCode"></select>
                <span asp-validation-for="EmpCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionRegisterCode" class="control-label"></label>
                <select asp-for="ProfessionRegisterCode" class="form-control" asp-items="ViewBag.ProfessionRegisterCode"></select>
                <span asp-validation-for="ProfessionRegisterCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeCode" class="control-label"></label>
                <input asp-for="TypeCode" class="form-control" />
                <span asp-validation-for="TypeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionExtentCode" class="control-label"></label>
                <select asp-for="ProfessionTitleTypeCode" class="form-control" asp-items="ViewBag.ProfessionExtentCode"></select>
                <span asp-validation-for="ProfessionExtentCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionTitleTypeCode" class="control-label"></label>
                <select asp-for="ProfessionTitleTypeCode" class="form-control" asp-items="ViewBag.ProfessionTitleTypeCode"></select>
                <span asp-validation-for="ProfessionTitleTypeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionTitleLevelCode" class="control-label"></label>
                <select asp-for="ProfessionTitleLevelCode" class="form-control" asp-items="ViewBag.ProfessionTitleLevelCode"></select>
                <span asp-validation-for="ProfessionTitleLevelCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionTitleCode" class="control-label"></label>
                <select asp-for="ProfessionTitleCode" class="form-control" asp-items="ViewBag.ProfessionTitleCode"></select>
                <span asp-validation-for="ProfessionTitleCode" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsEngage" /> @Html.DisplayNameFor(model => model.IsEngage)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="EngageDate" class="control-label"></label>
                <input asp-for="EngageDate" class="form-control" />
                <span asp-validation-for="EngageDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionTypeCode" class="control-label"></label>
                <select asp-for="ProfessionTypeCode" class="form-control" asp-items="ViewBag.ProfessionTypeCode"></select>
                <span asp-validation-for="ProfessionTypeCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfessionalName" class="control-label"></label>
                <input asp-for="ProfessionalName" class="form-control" />
                <span asp-validation-for="ProfessionalName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpDate" class="control-label"></label>
                <input asp-for="UpDate" class="form-control" />
                <span asp-validation-for="UpDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="No1" class="control-label"></label>
                <input asp-for="No1" class="form-control" />
                <span asp-validation-for="No1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="No2" class="control-label"></label>
                <input asp-for="No2" class="form-control" />
                <span asp-validation-for="No2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="No3" class="control-label"></label>
                <input asp-for="No3" class="form-control" />
                <span asp-validation-for="No3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="No4" class="control-label"></label>
                <input asp-for="No4" class="form-control" />
                <span asp-validation-for="No4" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="No5" class="control-label"></label>
                <input asp-for="No5" class="form-control" />
                <span asp-validation-for="No5" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Remark" class="control-label"></label>
                <input asp-for="Remark" class="form-control" />
                <span asp-validation-for="Remark" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateEmp" class="control-label"></label>
                <input asp-for="CreateEmp" class="form-control" />
                <span asp-validation-for="CreateEmp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreateDate" class="control-label"></label>
                <input asp-for="CreateDate" class="form-control" />
                <span asp-validation-for="CreateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
